asgiref==3.10.0
click==8.3.0
Django==4.2.26
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==24.3
djangorestframework==3.16.1
gunicorn==23.0.0
h11==0.16.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
psycopg2-binary==2.9.11
pydotplus==2.0.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
uvicorn==0.38.0
